// Headline
.main-page-headline {
  background: $brand-color linear-gradient($brand-color, $brand-color-brighter);
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $medium-breakpoint) {
    height: 200px;
  }
}
.main-page-headline-content {
  margin: 0;
  text-align: center;
  color: inherit;
  max-width: 580px;
  font-weight: 200;
  line-height: 1.42;
  img { vertical-align: top; }
  @media only screen and (max-width: $small-breakpoint) {
    font-size: 34px;
    img { height: 40px; }
  }
  @media only screen and (min-width: $small-breakpoint) {
    font-size: 42px;
    img { height: 48px; }
  }
}
// Selling points
.selling-points {
  @extend %wrapper;
  display: flex;
  @media only screen and (max-width: $small-breakpoint) {
    flex-direction: column;
  }
}
.selling-point {
  display: flex;
  padding: 2rem 0.5rem;
  flex: 1;
  flex-direction: column;
}
.selling-point-icon {
  width: 150px;
  height: auto;
  margin: 25px auto;
}

.selling-point-calendar {
  display: inline-block;
}
.selling-point-calendar-page {
  position: relative;
  border: 7px solid #444;
  border-radius: 5px;
  display: inline-block;
  height: 65px;
  line-height: 1.5;
  padding: 0 15px;
  width: 150px;
  margin: 65px auto;
  &:before, &:after {
    content: "";
    border: 4px solid white;
    display: block;
    background-color: #444;
    width: 7px;
    height: 15px;
    border-radius: 8px;
    position: absolute;
    top: -15px;
  }
  &:before {
    left: 15px;
  }
  &:after {
    right: 15px;
  }
}
.selling-point-calendar-page-ember-logo {
  margin-top: 5px;
}
.selling-point-calendar-page-number {
  font-size: 11px;
  position: absolute;
  top: 0;
  left: 2px;
}

.selling-point-text {
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

// get-started-button
.get-started-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid $brand-color;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  display: inline-block;
}

// Getting started area
.get-started {
  flex-grow: 1;
}