// main header
.main-header {
  background-color: $brand-color;
  color: white;
}
.main-header-nav {
  @extend %wrapper;
}
.main-header-logo {
  color: white;
  font-size: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  padding-top: 15px;
  height: 76px;
  .home-link {
    vertical-align: text-bottom;
    color: white;
  }
  img {
    height: 36px;
    width: 88px;
    vertical-align: -5%;
  }
}
.main-header-nav-links {
  display: flex;
}
.main-header-nav-link {
  color: inherit;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (max-width: $small-breakpoint) {
  .main-header {
    line-height: 44px;
  }
  .main-header-nav {
    padding-right: 0;
    padding-left: 0;
  }
  .main-header-logo {
    display: block;
    text-align: center;
  }
  .main-header-nav-links {
    justify-content: space-between;
    background-color: rgba(black, 0.2);
  }
}
@media only screen and (min-width: $small-breakpoint) {
  .main-header {
    line-height: 66px;
  }
  .main-header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .main-header-nav-link.active {
    background-color: white;
    color: $brand-color;
  }
}

@keyframes calendar-page-flip {
  0%   {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.header-calendar {
  position: relative;
  width: 160px;
  height: 35px;
  -webkit-perspective: 1000;
  perspective: 300px;
  perspective-origin: 50% 0%;
  display: inline-block;
  .liquid-container {
    display: inline-flex;
  }
}
.header-calendar-ring {
  border: 3px solid $brand-color;
  display: block;
  background-color: white;
  width: 10px;
  height: 15px;
  border-radius: 8px;
  position: absolute;
  top: -5px;
  &.left {
    left: 20px;
  }
  &.right {
    right: 20px;
  }
}
.header-calendar-page {
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid white;
  border-radius: 5px;
  display: inline-block;
  height: 50px;
  line-height: 1.5;
  padding: 0 15px;
  transform-origin: 50% 0%;
  animation-timing-function: ease-out;
  background-color: $brand-color;
  &.run-animation {
    animation: calendar-page-flip .4s;
  }
}
.calendar-page-number {
  font-size: 10px;
  position: absolute;
  left: 3px;
}

