.ember-power-calendar-day-grid {
  display: flex;
  flex-direction: column;
}
.ember-power-calendar-week {
  display: flex;
}
.ember-power-calendar-day {
  flex: 1;
  margin: 1px;
  background-color: #eee;
  text-align: center;
}