.ember-power-calendar {
  box-sizing: border-box;
}
.ember-power-calendar * {
  box-sizing: border-box;
}

.ember-power-calendar-nav {
  display: flex;
  justify-content: space-between;
}

.ember-power-calendar-row {
  display: flex;
  justify-content: space-between;
}
.ember-power-calendar-day {
  background-color: initial;
  border: initial;
  outline: initial;
  flex: 1;
  margin: 1px;
}

.ember-power-calendar-day--current-month {
  background-color: #eee;
}
.ember-power-calendar-day--today {
  background-color: #ddd;
}
.ember-power-calendar-day--selected {
  background-color: orange;
}
.ember-power-calendar-day--focused {
  outline: 1px solid blue;
}