<PowerCalendar
  @center={{center}}
  @onCenterChange={{perform this.updateMonth}} as |calendar|>
  <div class={{if calendar.loading 'loading-spiner-overlay'}}>
    <calendar.Nav/>
    <calendar.Days/>
  </div>
</PowerCalendar>