{{#power-calendar
  center=center
  onCenterChange=(perform updateMonth) as |calendar|}}
  <div class={{if calendar.loading 'loading-spiner-overlay'}}>
    {{calendar.nav}}
    {{calendar.days}}
  </div>
{{/power-calendar}}