<p>Choose the dates you prefer in the order you prefer them:</p>

<PowerCalendarMultiple
  @center={{center}}
  @selected={{preferredDates}}
  @onSelect={{action (mut preferredDates) value="date"}} as |calendar|>
  <calendar.nav/>
  <calendar.days/>
</PowerCalendarMultiple>

Preferred dates:
<ol>
  {{#each preferredDates as |d|}}
    <li>{{format-date d 'LLL'}}</li>
  {{/each}}
</ol>