<p>Choose the dates you prefer in the order you prefer them:</p>

{{#power-calendar-multiple
  displayedMonth=displayedMonth
  selected=preferredDates
  onChange=(action (mut preferredDates) value="moment") as |calendar|}}
  {{calendar.nav}}
  {{calendar.days}}
{{/power-calendar-multiple}}

Preferred dates:
<ol>
  {{#each preferredDates as |d|}}
    <li>{{moment-format d 'LLL'}}</li>
  {{/each}}
</ol>