<h1 class="doc-page-title">Addons</h1>

<p>
  Ember Power Calendar is designed to allow users to customize it to fit their needs, and
  hopefully that work could be also released to the public to others use it.
</p>

<p>
  If you develop an addon that builds on top of Ember Power Calendar, there are three things you should do:
</p>

<ol>
  <li>
    Remember to list it as a `dependency`, not a `devDependency` in your addon's `package.json`. Otherwise,
    apps will not be able to find any of the components.
  </li>
  <li>
    Add <code>"ember-power-calendar-addon"</code> to the keywords section of your <em>package.json</em> so I can scan the
    npm registry and find them.
  </li>
  <li>Let me know about it!</li>
</ol>

<p>
  In case you want inspiration, this are some ideas that could be cool:
</p>

<ul>
  <li>A datepicker with a nice API based on contextual components</li>
  <li>A calendar-subcomponent that displays weeks instead of months</li>
  <li>A calendar-subcomponent with infinite scrolling</li>
</ul>

<p>
  Roll up sleves and let's do it!
</p>
