<p>Choose the dates you prefer in the order you prefer them:</p>

<PowerCalendarMultiple
  @center={{this.center}}
  @selected={{this.preferredDates}}
  @onSelect={{action (mut this.preferredDates) value="date"}} as |calendar|>
  <calendar.Nav/>
  <calendar.Days/>
</PowerCalendarMultiple>

Preferred dates:
<ol>
  {{#each this.preferredDates as |d|}}
    <li>{{format-date d 'LLL'}}</li>
  {{/each}}
</ol>