<h1 class="doc-page-title">API Reference</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati maxime facere magni vitae exercitationem dolor nam quo, eius laborum cumque ab, similique voluptatem excepturi fugit ut earum qui. Impedit, sapiente.
</p>
