<h1 class="doc-page-title">How to use it</h1>

<p>
  The basic component usage is very simple. There is no mandatory fields. Just invoke the component and you will get
  a nice calendar.
</p>

{{#code-sample hbs="how-to-use-it-1.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-sample}}

<p>
  Nice, but not very interesting. The calendar is smart enough to display the current month but that's it.
</p>

<p>
  To make the calendar show render on a different month, just pass <code>date=someDate</code>, and the calendar will
  display the month of that date.
  It doesn't mater if it's the 1st day or the 31st. Let's render October of 2013.
</p>

{{#code-sample hbs="how-to-use-it-2.hbs" js="how-to-use-it-2-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-sample}}

<p>
  Oh, and by the way, this component speaks native <code>Date</code> and <code>MomentJS</code>. You can pass any, at your best convenience.
</p>

<p>
  But probably, if you just wanted to display a static calendar you probably wouldn't be use an ember-addon for that. You want more
  features: Select dates, keyboard navigation, ranges, events... We'll cover all that, let's go one step at a time.
</p>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.installation'}} class="doc-page-nav-link-prev">&lt; Installation</a>
  {{!-- {{#link-to 'public-pages.docs.action-handling' class="doc-page-nav-link-next"}}Action handling &gt;{{/link-to}} --}}
</div>