<h1 class="doc-page-title">Installation</h1>

<p>
  Ember-power-calendar is distributed as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon,
  so the only thing you need to do to install it is run the following command on your ember project directory
</p>

<div class="highlight">
  <pre>
    <code class="language-text" data-lang="text">
      $ ember install ember-power-calendar
    </code>
  </pre>
</div>

<p>
  If you use just vanilla css, you're good to go. Ember-power-select will add the default styles
  to your vendor css file.
</p>

<p>
  However, if you are using Sass the addon won't do that. Instead you need to import the addon styles
  yourself.
</p>

<div class="highlight">
  <pre>
    <code class="language-sass" data-lang="sass">
      @import "ember-power-calendar";
    </code>
  </pre>
</div>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.index'}} class="doc-page-nav-link-prev">&lt; Overview</a>
  <a href={{href-to 'public-pages.docs.how-to-use-it'}} class="doc-page-nav-link-next">How to use it &gt;</a>
</div>
