<h1 class="doc-page-title">Installation</h1>

<p>
  Ember-power-calendar is distributed as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon,
  so the only thing you need to do to install it is run the following command on your ember project directory
</p>

<div class="highlight">
  <pre>
    <code class="language-text" data-lang="text">
      $ ember install ember-power-calendar
    </code>
  </pre>
</div>

<p>
  This addon still requires Sass, although support for people using vanilla CSS is coming.
</p>

<p>
  If you are using Sass, all you need to do is import the addon styles with.
</p>

<div class="highlight">
  <pre>
    <code class="language-sass" data-lang="sass">
      @import "ember-power-calendar";
    </code>
  </pre>
</div>

<p>
  Doing that will bring a all of styles except those related with the size of the calendar.
  For defining the size of the calendar there is a mixin that takes the size of the cell
  you want your canlendar to be. By example:
</p>

<div class="highlight">
  <pre>
    <code class="language-sass" data-lang="sass">
      .demo-calendar-small {
        @include ember-power-calendar($cell-size: 30px);
      }
      .demo-calendar-medium {
        @include ember-power-calendar($cell-size: 50px);
      }
      .demo-calendar-big {
        @include ember-power-calendar($cell-size: 70px);
      }
    </code>
  </pre>
</div>

<p>
  This code above will make each one of those classes have a different size.
</p>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.index'}} class="doc-page-nav-link-prev">&lt; Overview</a>
  <a href={{href-to 'public-pages.docs.how-to-use-it'}} class="doc-page-nav-link-next">How to use it &gt;</a>
</div>
