<h1 class="doc-page-title">Multiple dates</h1>

<p>
  The last use case is allowing the user to select several non-consecutive dates.
</p>

<p>There is no much need of explanation, so lets see it in action.</p>
{{!--
{{#code-sample hbs="multiple-selection-1.hbs" js="multiple-selection-1-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-sample}} --}}

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.range-selection'}} class="doc-page-nav-link-prev">&lt; Date Ranges</a>
  {{!-- <a href={{href-to 'public-pages.docs.multiple-dates'}} class="doc-page-nav-link-next">Multiple dates &gt;</a> --}}
</div>
