<h1 class="doc-page-title">Multiple dates</h1>

<p>
  The last use case, is allowing the user to select several non-consecutive dates.
</p>

<div class="doc-page-nav">
  <a href={{href-to 'public-pages.docs.range-selection'}} class="doc-page-nav-link-prev">&lt; Date Ranges</a>
  {{!-- <a href={{href-to 'public-pages.docs.multiple-dates'}} class="doc-page-nav-link-next">Multiple dates &gt;</a> --}}
</div>
