<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Getting started</header>
    {{#link-to 'public-pages.docs.index' class="side-nav-link"}}Overview{{/link-to}}
    {{#link-to 'public-pages.docs.installation' class="side-nav-link"}}Installation &amp; setup{{/link-to}}
    {{#link-to 'public-pages.docs.how-to-use-it' class="side-nav-link"}}How to use it{{/link-to}}
    {{#link-to 'public-pages.docs.action-handling' class="side-nav-link"}}Action handling{{/link-to}}
    {{#link-to 'public-pages.docs.range-selection' class="side-nav-link"}}Range selection{{/link-to}}
    {{#link-to 'public-pages.docs.multiple-selection' class="side-nav-link"}}Multiple selection{{/link-to}}
    <header class="side-nav-header">Basic customization</header>
    {{#link-to 'public-pages.docs.i18n' class="side-nav-link"}}I18n{{/link-to}}
    {{#link-to 'public-pages.docs.the-nav' class="side-nav-link"}}The nav{{/link-to}}
    {{#link-to 'public-pages.docs.the-days' class="side-nav-link"}}The days{{/link-to}}
    <header class="side-nav-header">Other</header>
    {{#link-to 'public-pages.docs.test-helpers' class="side-nav-link"}}Test helpers{{/link-to}}
    {{#link-to 'public-pages.docs.api-reference' class="side-nav-link"}}API reference{{/link-to}}
  </nav>
  <section class="doc-page">
    {{#power-select selected=currentSection options=groupedSections onchange=(action 'visit') searchField="text" searchEnabled=false triggerClass="section-selector" as |option|}}
      {{option.text}}
    {{/power-select}}
    {{outlet}}
  </section>
</section>
