<section class="main-page-headline">
  <h1 class="main-page-headline-content">
    Powerful and customizable calendar component for
    <img src="/ember_logo.png" alt="ember">
  </h1>
</section>
<section class="selling-points">
  <article class="selling-point">
    <img src="/calendar-range-icon.svg" alt="calendar range icon" class="selling-point-icon">
    <div class="selling-point-text">
      <h2>Feature rich</h2>
      Inspired by Select2.js, selectize.js and others,
      it supports groups, filtering, multiple
      selections, keyboard navigation and is accesible right away.
    </div>
  </article>

  <article class="selling-point">
    <div class="selling-point-calendar-page">
      <sub class="selling-point-calendar-page-number">{{moment-format today 'D'}}</sub>
      <img src="/ember-word-logo.svg" alt="Ember" class="selling-point-calendar-page-ember-logo">
    </div>
    <div class="selling-point-text">
      <h2>With Ember for Ember</h2>
      Built using ember best practices, it feels natural to use
      and plays nicely with promises, actions, and ember-data collections.
    </div>
  </article>

  <article class="selling-point">
    <img src="/calendar-customized-icon.svg" alt="calendar customized icon" class="selling-point-icon">
    <div class="selling-point-text">
      <h2>Do it your way</h2>
      Want custom html? Pass a block. Async searching? Use an action.
      Something totally custom? Just replace pieces of the select
      with your own components and do it.
    </div>
  </article>
</section>
<div class="text-center get-started">
  {{#link-to 'public-pages.docs.index' class="get-started-button"}}
    Get started
  {{/link-to}}
</div>