<h1>Ember Power Calendar</h1>
<div class="legacy-demo" style="padding: 10px 20px">
  <h3>Small</h3>

  {{#power-calendar
    class="demo-calendar-small"
    selected=selected
    onchange=(action (mut selected) value="moment") as |day|}}
  {{/power-calendar}}

  <h3>Medium</h3>

  {{#power-calendar
    class="demo-calendar-medium"
    selected=selected
    onchange=(action (mut selected) value="moment") as |day|}}
  {{/power-calendar}}

  <h3>Big</h3>

  {{#power-calendar
    class="demo-calendar-big"
    selected=selected
    onchange=(action (mut selected) value="moment") as |day|}}
  {{/power-calendar}}
</div>