<h1>Ember Power Calendar</h1>
<div class="legacy-demo" style="padding: 10px 20px">
  <h3>Small</h3>

  {{#power-calendar
    class="demo-calendar-small"
    onMonthChange=(action (mut foo))
    onChange=(action (mut selected) value="date")
    selected=selected as |day|}}
  {{/power-calendar}}

  <h3>Medium</h3>

  {{#power-calendar
    class="demo-calendar-medium"
    selected=selected
    onChange=(action (mut selected) value="moment") as |day|}}
  {{/power-calendar}}

  <h3>Big</h3>

  {{#power-calendar
    class="demo-calendar-big"
    selected=selected
    onChange=(action (mut selected) value="moment") as |day|}}
  {{/power-calendar}}

  <h3>Range</h3>

  {{#power-calendar
    range=true
    class="demo-calendar-medium demo-range-calendar-with-pretty-range-ends-yo"
    displayedMonth=foo
    onMonthChange=(action (mut foo))
    selected=range
    onChange=(action (mut range) value="moment")}}
  {{/power-calendar}}

  <h3>Multiple</h3>

  {{#power-calendar
    multiple=true
    class="demo-calendar-medium"
    displayedMonth=foo
    onMonthChange=(action (mut foo))
    selected=collection
    onChange=(action (mut collection) value="date")}}
  {{/power-calendar}}
</div>