<h1 class="doc-page-title">Datepicker</h1>

<p>
  A couple people asked me if I was considering adding a feature present in the well known
  <a href="http://dbushell.github.io/Pikaday/">Pickaday</a> library where you can click in
  the month or year to quicky navigate to far away dates.
</p>

<p>
  The answer I gave was that I wasn't considering it, but not because I don't think it is a good
  pattern, but because the flexible nature of Ember Power Calendar makes it unnecesary!
</p>

<p>
  Let's build it in a few lines of code.
</p>

{{#code-sample hbs="nav-select-1.hbs" as |partialName|}}
  {{partial partialName}}
{{/code-sample}}

<p>
  We've just <em>composed</em> two battle-tested community addons into a entirely new component
  without a single line of Javascript! How cool is that?
</p>

<p>
  You can style it in any way you want, add wrapper divs like the ones requires by some CSS frameworks
  (I'm looking at you, Bootstrap), format the text of the input using the well-know helper <code>moment-format</code>
  from <a href="https://github.com/stefanpenner/ember-moment">ember-moment</a>.
  You could also modify it to use a text-area or to format ranges in a breeze.
</p>

<p>
  Admitely there is some room for refinement.
</p>
<p>
  By example, you could want to close the dropdown when a day is selected or allow
  the users to type on the input and parse the date as they type, but this gives
  a starting point for anyone to create - and publish ;) - their own datepicker component.
</p>


<div class="doc-page-nav">
  <a href={{href-to 'public-pages.cookbook.index'}} class="doc-page-nav-link-prev">&lt; System-wide config</a>
</div>